*{
    margin: 0;
    padding: 0;
    
  }
  .header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0%;
    z-index: 2;  
    
  }
  .header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  .header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  .header__searchInput{
    height: 10px;
    padding: 10px;
    border: none;
    width: 100%;
    display: flex;
   
  }
  .header__searchIcon{
    padding:2px 5px;
    height: 26.5px !important ;
    background-color: #cd9042;
    align-self: center; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  .header__nav{
    display: flex;
    justify-content: space-evenly;
  }
  .header__optionLineOne{
    font-size: 10px;
  }
  .header__optionLinetwo{
    font-size: 13px;
    font-weight: 800;
  }
  .header__optionBasket{
    color: white;
    display: flex;
    align-items: center;
  }
  .basket__option{
    font-size: 20px;
  }
  .header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header  a{
    color: #fff;
  }
  a{
      direction: none;
  }