.home{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    flex-direction: column;

  }
.slider__div{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1500px;

}
  .home__row{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
    
  }

  
  
  
  
  